

header {
    padding: 1% 1% 0 1%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 62, 62);
    color: rgb(48, 238, 238);
    display: flex;
}

nav ul {
    text-align: end;
    color: teal
    display: block;
    font-size: 20px;      
}

nav ul li {
    display: inline;
    padding: 5px;
}